@model IEnumerable<Mathemat.io.Models.Problem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Problems" asp-action="Index" method="get">
    <label>Title</label>
    <input type="text" name="title"/>

    <label>Difficulty</label>
    <select name="difficulty">
        <option value="">All</option>
        <option value="0">Easy</option>
        <option value="1">Medium</option>
        <option value="2">Hard</option>
    </select>

    <label>Area</label>
    <select name="areaName" asp-items="ViewBag.AreaList">
        <option value="">All</option>
    </select>

    <button class="btn btn-info" type="submit">Filter</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-fixed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td style="max-width:200px;">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ProblemId">Edit</a> 
                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ProblemId">Details</a> 
                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ProblemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
