@model IEnumerable<Mathemat.io.Models.Contest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Contests" asp-action="Index" method="get">
    <label>Title</label>
    <input type="text" name="title"/>

    <label>Difficulty</label>
    <select name="difficulty">
        <option value="">All</option>
        <option value="0">Easy</option>
        <option value="1">Medium</option>
        <option value="2">Hard</option>
    </select>

    <label>Status</label>
    <select name="status">
        <option value="">All</option>
        <option value="0">Not Started</option>
        <option value="1">In Progress</option>
        <option value="2">Finished</option>
    </select>

    <button class="btn btn-info" type="submit">Filter</button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ContestID">Edit</a> 
                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ContestID">Details</a> 
                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ContestID">Delete</a> 
                <a class="btn btn-light" asp-action="Start" asp-route-id="@item.ContestID">Start</a> 
                <a class="btn btn-light" asp-action="Submissions" asp-route-id="@item.ContestID">Submissions</a> 
                <a class="btn btn-light" asp-action="Results" asp-route-id="@item.ContestID">Results</a>
            </td>
        </tr>
}
    </tbody>
</table>
