@model IEnumerable<Mathemat.io.Models.ContestSubmissions>

@{
    ViewData["Title"] = "Submissions";
}

<h1>Submissions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Solution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problem.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contestant.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contest.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problem.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contestant.FirstName)
            </td>
            <td>
                <a asp-action="SubmissionsEdit" asp-route-contestID="@item.ContestID" asp-route-problemID="@item.ProblemID" asp-route-contestantID="@item.ContestantID">Grade</a>
            </td>
        </tr>
}
    </tbody>
</table>
