@model IEnumerable<Mathemat.io.Models.Contestant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="Contestants" asp-action="Index" method="get">
    <label>First Name:</label>
    <input type="text" name="fn"/>

    <label>Last Name:</label>
    <input type="text" name="ln"/>

    <label>Country:</label>
    <select name="country" asp-items="@ViewBag.CountryList">
        <option value="">All</option>
    </select>

    <button class="btn btn-info" type="submit">Filter</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestantPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContestantPoints)
            </td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.ContestantID">Edit</a> 
                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.ContestantID">Details</a> 
                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.ContestantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
